.mat-toolbar.mat-primary {
    background: white;
    color: black;
}

.contenedor {
    background-color: white;
    color: black;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.logo {
    margin-top: 35px;
    margin-left: 2rem;
    width: 40%;
    display: block;
}

.imagenInstagram {
    margin-top: 1rem;
    width: 40%;
}

.mat-divider {
    margin-top: 20px;
}

.optionsMenu {
    display: block;
    width: 70%;
    margin-top: 2rem;

}

.optionMenu {
    margin-left: 4rem;
    margin-right: 4rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}