<div class="contenedor" *ngIf="userIsAuthenticated">
    <mat-toolbar color="primary">
        <div class="logo">
            <a routerLink="" routerLinkActive="active">
                <img mat-card-image class="imagenInstagram" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzNXO_pNv15wJ-a6cKeXYiDAZmMFw-mXy6t_2ibuVMRnu6BR4Q" alt="instagram">
            </a>
        </div>
        <span class="spacer"></span>
        <ul>
            <li *ngIf="userIsAuthenticated">
                <button mat-button (click)="onLogout()">Logout</button>
            </li>
        </ul>
    </mat-toolbar>
    <mat-divider></mat-divider>
</div>