.mat-toolbar.mat-primary {
    background: white;
    color: black;
  }

.logo {
    width: 30%;
    background-color: white;
    display: block;
}

.imagenInstagram {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 50%;
}

.mat-divider {
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: black;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.optionsMenu {
    display: block;
    width: 70%;
    margin-top: 2rem;

}

.optionMenu {
    margin-left: 4rem;
    margin-right: 4rem;
}
