.mat-toolbar.mat-primary {
    background: white;
    color: black;
}

.contenedor {
    background: white;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 30%;
    background-color: white;
    display: block;
}

.imagenInstagram {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 50%;
}

.mat-divider {
    margin-top: 15px;
}

.optionsMenu {
    display: block;
    width: 70%;
    margin-top: 2rem;

}

.optionMenu {
    margin-left: 4rem;
    margin-right: 4rem;
}
