<footer layout="row" class="footer"> 
    <mat-divider></mat-divider>
    <div class="optionsMenu">
        <a routerLink="" routerLinkActive="active" class="optionMenu">
            <mat-icon>home</mat-icon> 
        </a>
        <a routerLink="#" routerLinkActive="active" class="optionMenu">
            <mat-icon>search</mat-icon>
        </a>
        <a routerLink="/create" routerLinkActive="active" class="optionMenu">
            <mat-icon>camera_enhance</mat-icon> 
        </a>
        <a routerLink="#" routerLinkActive="active" class="optionMenu">
            <mat-icon>favorite_border</mat-icon>
        </a>
        <a routerLink="#" routerLinkActive="active" class="optionMenu">
            <mat-icon>perm_identity</mat-icon>
        </a>
    </div>
</footer>
