.example-card {
    text-align: center;
    display: block;
    margin:1rem auto;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 90px;
}

.contenidoPost {
    text-align: justify;
}

.contenidoFecha {
    text-align: left;
    color: grey;
}

a {
    text-decoration: none;
    color: black;
}

.comment {
    margin-left: 20px;
}
 
a:hover, a:active{
    color: red;
}

.nick {
    font-weight: bold;
    color: black;
    display: inline;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.buttons {
    margin-left: 20px;
    text-align: left;
}
