<div class="encabezado">
    <h3>Nueva publicación</h3>
</div>
<form [formGroup]="form" enctype="multipart/form-data" (submit)="onSavePost()">
    <div class="formPost">
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview">
        </div>
        <mat-form-field>
            <mat-label>Contenido</mat-label>
            <input matInput #inputContenido formControlName="contenido" placeholder="Escribe un pie de foto" required>
            <mat-hint align="end">{{inputContenido.value?.length || 0}}/250</mat-hint>
            <mat-error *ngIf="form.get('contenido').invalid" >Introduce un contenido válido</mat-error>
        </mat-form-field>

        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>

        <div class="buttonsForm">
            <a mat-button routerLink="" routerLinkActive="active" color="warn" class="bottonFoot">Cerrar</a>
            <button mat-raised-button color="primary" class="bottonFoot" type="submit">Guardar</button>
        </div>
    </div>
</form>   

